#! /bin/bash
/bin/cp -r  #dataPath/nginx-1.20.1.tar.gz   .
/bin/cp -r  #dataPath/nginx-http-flv-module.tar.gz  .
/bin/cp -r  #dataPath/openssl-1.1.1i.tar.gz  .
/bin/cp -r  #dataPath/pcre-8.45.tar.gz  .

docker build -t ${ed.nginx.image.tag} .

rm -rf  nginx-1.20.1.tar.gz 
rm -rf  nginx-http-flv-module.tar.gz
rm -rf  openssl-1.1.1i.tar.gz  
rm -rf  pcre-8.45.tar.gz  
