upstream serverDemo {
    server ${ed.serverDemo.host}:${ed.serverDemo.port.grpc};
}

server {
    listen ${ed.serverDemo.port.proxyGrpcListen};
    proxy_connect_timeout 8s;
    proxy_timeout 24h;
    proxy_pass serverDemo;
}
