############################################################
## 注意: proxy_set_header Host xxx, 必须是目标主机的host, 否则
## 通过oss / minio客户端生成的有签名的url时候, 在访问会提示无效的
## url, 这是因为oss / minio服务端获取到的host和在生成签名url时候
## 使用的不是同一个host, 导致验签失败
############################################################
# oss 配置
server {
#if( ${ed.storage.type} == "oss")
    #set($endpoint = ${ed.storage.oss.endpoint})
    #set($bucketName = ${ed.storage.oss.bucketName})
#elseif(${ed.storage.type} == "minio")
    #set($endpoint = ${ed.storage.minio.endpoint})
    #set($bucketName = ${ed.storage.minio.bucketName})
#end
#set($indexOf = $endpoint.indexOf("://") + 3)
#set($host = $endpoint.substring($indexOf))
  listen ${ed.storage.url.port};
  resolver 8.8.8.8;
  location ${ed.storage.url.urlPre}/ {
##  配置的请求路径以及代理的目标url路径, 后缀必须加 /
    proxy_pass http://${bucketName}.${host}/;
## proxy_pass http://127.0.0.1:9000/my-test-13579/;
    proxy_read_timeout 3000s;
    proxy_send_timeout 3000s;
    
    proxy_set_header Host ${bucketName}.${host};
    #proxy_set_header Host 127.0.0.1:9000;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header X-Forwarded-Proto $scheme;
    
    proxy_connect_timeout 6000;
  } 
}
