#! /bin/bash

if [ ! -d "${ed.milvus.dataRootPath}/etcd" ]; then
  mkdir -p ${ed.milvus.dataRootPath}/etcd
  chmod 777 ${ed.milvus.dataRootPath}/etcd
fi

if [ ! -d "${ed.milvus.dataRootPath}/minio" ]; then
  mkdir -p ${ed.milvus.dataRootPath}/minio
  chmod 777 ${ed.milvus.dataRootPath}/minio
fi

if [ ! -d "${ed.milvus.dataRootPath}/milvus" ]; then
  mkdir -p ${ed.milvus.dataRootPath}/milvus
  chmod 777 ${ed.milvus.dataRootPath}/milvus
fi

docker-compose down
docker-compose up -d